
# Ignore folders
python/__pycache__/
measurement_model/prompt
build
.history
torchscript
catkin_ws/devel
catkin_ws/build
catkin_ws/src/sgloop_ros/thirdparty
catkin_ws/.catkin_workspace
install
eval/fmfusion
tmp
hydra_lcd
images

# Ignore files 
*.pyc
*.zip
*.npy
.idea
.vscode
datasets
Log