<launch>

  <arg name="dataroot" value="/data2/RioGraph"/>
  <arg name="agentA_scene" value="scene0144_00f"/>
  <arg name="agentB_scene" value="scene0144_00a"/>
  <arg name="result_folder" value="ours_locked"/>
  <!-- <arg name="result_folder" value="geotransformer_ft_fixed"/> -->
  <!-- <arg name="result_folder" value="sgpgm_locked"/> -->
  <arg name="result_folder_dir" value="$(arg dataroot)/output/$(arg result_folder)/$(arg agentA_scene)-$(arg agentB_scene)"/>

  <!-- x=11 , yaw=3.14 -->
  <arg name="agentA_agnetB_x" value="0"/>
  <arg name="agentA_agentB_y" value="0"/>
  <arg name="agentA_agentB_z" value="0"/>
  <arg name="agentA_agentB_yaw" value="0"/>

  <group ns="viz">
    <param name="edge_width" value="0.03"/>
    <param name="edge_color/r" value="0.0"/>
    <param name="edge_color/g" value="0.0"/>
    <param name="edge_color/b" value="0.0"/>
    <param name="centroid_size" value="0.08"/>
    <param name="annotation_size" value="0.2"/>
  </group>

  <!-- inital tf to enable visulization -->
  <group ns="br">
    <param name="agentA/x" value="0.0"/>
    <param name="agentA/y" value="0.0"/>
    <param name="agentA/z" value="0.0"/>

    <param name="agentB/x" value="$(arg agentA_agnetB_x)"/>
    <param name="agentB/y" value="$(arg agentA_agentB_y)"/>
    <param name="agentB/z" value="$(arg agentA_agentB_z)"/>
    <param name="agentB/yaw" value="$(arg agentA_agentB_yaw)"/>
  </group>

  <node pkg="sgloop_ros" name="agentA" type="PoseGraphNode" output="screen" clear_params="true">
      <param name="cfg_file" value="/home/cliuci/code_ws/OpensetFusion/config/realsense.yaml"/>
      <param name="src_name" value="agentA"/>
      <param name="ref_name" value="agentB"/>
      <param name="scene_name" value="$(arg agentA_scene)"/>
      <param name="camera_marker/r" value="1.0"/>
      <param name="camera_marker/g" value="0.0"/>
      <param name="camera_marker/b" value="0.0"/>
      <param name="camera_marker/scale" value="0.2"/>
      <param name="camera_marker/line_width" value="0.05"/>
      <param name="pose_graph_folder" value="/data2/sfm/$(arg agentA_scene)-$(arg agentB_scene)/pose_graph"/>
      <param name="src_scene_dir" value="$(arg dataroot)/val/$(arg agentA_scene)"/>
      <param name="scene_result_folder" value="$(arg result_folder_dir)"/>
      <param name="gt_file" value="$(arg result_folder_dir)/pred_newpose.txt"/>
      <param name="frame_file_name" value="src_poses.txt"/>
      <param name="ate_threshold" value="4.0"/>
      <param name="map_only" value="true"/>
      <param name="iter_num" value="5"/>
      <param name="dense_corr" value="true"/>
      <param name="mode" value="0"/>
      <param name="corr_sampling_ratio" value="0.1"/>
      <param name="render_pose" value="false"/>
  </node>

  <node pkg="sgloop_ros" name="agentB" type="PoseGraphNode" output="screen" clear_params="true">
      <param name="cfg_file" value="/home/cliuci/code_ws/OpensetFusion/config/realsense.yaml"/>
      <param name="src_name" value="agentB"/>
      <param name="ref_name" value="agentA"/>
      <param name="scene_name" value="$(arg agentB_scene)"/>
      <param name="camera_marker/r" value="1.0"/>
      <param name="camera_marker/g" value="0.0"/>
      <param name="camera_marker/b" value="0.0"/>
      <param name="camera_marker/scale" value="0.2"/>
      <param name="camera_marker/line_width" value="0.05"/>
      <param name="src_scene_dir" value="$(arg dataroot)/val/$(arg agentB_scene)"/>
      <param name="scene_result_folder" value="$(arg dataroot)/output/$(arg result_folder)/$(arg agentA_scene)-$(arg agentB_scene)"/>
      <param name="frame_file_name" value="src_poses.txt"/>
      <param name="ate_threshold" value="4.0"/>
      <param name="map_only" value="true"/>
      <param name="iter_num" value="5"/>
      <param name="mode" value="0"/>
      <param name="render_pose" value="false"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="link_1st_agent" args="0 0 0 0 0 0 1 world agentA 100" />
  <node pkg="tf" type="static_transform_publisher" name="link_2nd_agent" args="$(arg agentA_agnetB_x) $(arg agentA_agentB_y) $(arg agentA_agentB_z) 0 0 0 1 world agentB 100" />

</launch>
