<launch>

  <arg name="dataroot" value="/data2/sgslam"/>
  <arg name="ref_scene" value="uc0110_00a"/>
  <arg name="src_scene" value="uc0110_00h"/>

  <node pkg="sgloop_ros" name="OfflineLoop" type="OfflineLoop" output="screen">
    <param name="cfg_file" value="/home/cliuci/code_ws/OpensetFusion/config/realsense.yaml"/>
    <param name="weights_folder" value="/home/cliuci/code_ws/OpensetFusion/torchscript"/>
    <param name="output_folder" value="$(arg dataroot)/output/sgloop"/>
    <param name="ref_scene_dir" value="$(arg dataroot)/val/$(arg ref_scene)"/>
    <param name="src_scene_dir" value="$(arg dataroot)/val/$(arg src_scene)"/>
    <param name="gt_file" value="$(arg dataroot)/matches_text/$(arg src_scene)-$(arg ref_scene).txt"/>
    <param name="visualization" value="1"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="link_before_loop" args="0 0 0 0 0 0 1 world local 100" />

</launch>
