<launch>

  <!-- global config -->

  <arg name="dataroot" value="/data2/sgslam"/>
  <!-- <arg name="scan_folder" value="val"/> -->
  <arg name="scan_folder" value= "output/two_agent+"/>
  <arg name="agentA_scene" value="uc0204_00a"/>
  <arg name="agentB_scene" value="uc0204_00b"/>

  <arg name="test_communication" value="true"/>
  <arg name="dense_msg" value="true"/>
  <arg name="icp_refine" value="true"/>
  <arg name="visualization" value="1"/>

  <arg name="agentA_agnetB_x" value="11.0"/>
  <arg name="agentA_agentB_y" value="-0.76"/>
  <arg name="agentA_agentB_z" value="-4"/>
  <arg name="agentA_agentB_yaw" value="3.14"/>

  <group ns="viz">
    <param name="edge_width" value="0.06"/>
    <param name="edge_color/r" value="0.0"/>
    <param name="edge_color/g" value="1.0"/>
    <param name="edge_color/b" value="1.0"/>
    <param name="centroid_size" value="0.3"/>
    <param name="annotation_size" value="0.4"/>
  </group>

  <!-- inital tf to enable visulization -->
  <group ns="br">
    <param name="agentA/x" value="0.0"/>
    <param name="agentA/y" value="0.0"/>
    <param name="agentA/z" value="0.0"/>

    <param name="agentB/x" value="$(arg agentA_agnetB_x)"/>
    <param name="agentB/y" value="$(arg agentA_agentB_y)"/>
    <param name="agentB/z" value="$(arg agentA_agentB_z)"/>
    <param name="agentB/yaw" value="$(arg agentA_agentB_yaw)"/>

    <param name="agentC/x" value="0.0"/>
    <param name="agentC/y" value="0.0"/>
    <param name="agentC/z" value="0.0"/>
  </group>

  <node pkg="sgloop_ros" name="agentA" type="OfflineLoop" output="screen" clear_params="true">
    <param name="cfg_file" value="/home/cliuci/code_ws/OpensetFusion/config/realsense.yaml"/>
    <param name="weights_folder" value="/home/cliuci/code_ws/OpensetFusion/torchscript"/>
    <param name="prune_instances" value="true"/>
    <param name="output_folder" value="$(arg dataroot)/output/offline_telecom"/>
    <param name="ref_scene_dir" value="$(arg dataroot)/$(arg scan_folder)/$(arg agentB_scene)"/>
    <param name="src_scene_dir" value="$(arg dataroot)/$(arg scan_folder)/$(arg agentA_scene)"/>
    <param name="gt_file" value="$(arg dataroot)/gt/$(arg agentA_scene)-$(arg agentB_scene).txt"/>
    <param name="local_agent" value="agentA"/>
    <param name="remote_agent" value="agentB"/>
    <param name="visualization" value="$(arg visualization)"/>
    <param name="test_communication" value="$(arg test_communication)"/>
    <param name="dense_msg" value="$(arg dense_msg)"/>
    <param name="broadcast_times" value="2"/>
    <param name="early_stop" value="false"/>
    <param name="icp_refine" value="$(arg icp_refine)"/>
    <param name="distance_threshold" value="1.5"/>
  </node>

  <node pkg="sgloop_ros" name="agentB" type="OfflineLoop" output="screen" clear_params="true">
    <param name="cfg_file" value="/home/cliuci/code_ws/OpensetFusion/config/realsense.yaml"/>
    <param name="weights_folder" value="/home/cliuci/code_ws/OpensetFusion/torchscript"/>
    <param name="ref_scene_dir" value="$(arg dataroot)/$(arg scan_folder)/$(arg agentA_scene)"/>
    <param name="src_scene_dir" value="$(arg dataroot)/$(arg scan_folder)/$(arg agentB_scene)"/>
    <param name="local_agent" value="agentB"/>
    <param name="remote_agent" value="agentA"/>  
    <param name="visualization" value="$(arg visualization)"/>

    <param name="test_communication" value="$(arg test_communication)"/>
    <param name="dense_msg" value="$(arg dense_msg)"/>
    <param name="early_stop" value="false"/>
    <param name="broadcast_times" value="2"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="link_1st_agent" args="0 0 0 0 0 0 1 world agentA 100" />
  <node pkg="tf" type="static_transform_publisher" name="link_2nd_agent" args="$(arg agentA_agnetB_x) $(arg agentA_agentB_y) $(arg agentA_agentB_z) 0 0 1 0 world agentB 100" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="link_before_loop" args="$(arg offset_x) $(arg offset_y) $(arg offset_z) 0 0 0 1 world agentB 100" /> -->

</launch>
